---
import Layout from "../layouts/Layout.astro";
import { getBlogs, getBlogDetail } from "../library/microcms";

// 詳細記事ページの全パスを取得
export async function getStaticPaths() {
  const response = await getBlogs({ fields: ["id"] });
  return response.contents.map((content: any) => {
    return {
      params: {
        blogId: content.id,
      },
    };
  });
}

// 記事の詳細情報を取得
const { blogId } = Astro.params;
const blog = await getBlogDetail(blogId as string);

// CSSを読み込む
import "../css/blog.css";

// 画像を読み込む
import Clock from "../images/clock.svg";
import Rotate from "../images/rotate.svg";
import Tags from "../images/tags.svg";
---

<Layout title={blog.title + " | Marunium"}>
  <main>
    <div class="container px-5 lg:px-56 py-6 mx-auto">
      <p
        class="flex lg:flex-row flex-col lg:justify-between font-medium text-base text-gray-500"
      >
        <span class="flex lg:mb-0 mb-1">
          <img class="pr-1.5 pt-0.5" src={Tags.src} />{blog.category.name}
        </span>
        <span class="flex">
          <img class="pr-1.5 pt-0.5" src={Clock.src} />{
            new Date(blog.publishedAt).toLocaleDateString("sv-SE")
          }
          <img class="pl-4 pr-1.5 pt-0.5" src={Rotate.src} />{
            new Date(blog.updatedAt).toLocaleDateString("sv-SE")
          }
        </span>
      </p>
      <h1 class="lg:text-3xl text-2xl font-medium title-font my-5">
        {blog.title}
      </h1>
      <img
        class="mx-auto rounded"
        src={blog.cover.url}
        alt={blog.title}
        width={blog.useCover ? "auto" : "0"}
      />
      <div class="post" set:html={blog.content} />
    </div>
  </main>
</Layout>
